.button {
    background-color: #62bdc3; /* Green */
    border: none;
    color: #153259;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius:20px;
    font-size: 45px;
	margin-top: 2%;
}

.s-label_search{
	font-size: 40px;
	margin-top: 2%;
	color: #153259;
}

.block1 {
	float: left;
	position: absolute;
	top: 35%;
	left:50%;
    transform: translate(-50%, -50%);
}

.block2{
	float: left;
	position: absolute;
	top: 50%;
	left:20%;
    transform: translate(-50%, -50%);
}

.block3{
	float: left;
	position: absolute;
	top: 10%;
	left:100%;
    transform: translate(-50%, -50%);
}

#mainField {
	width: 500px;
	height: 800px;
	border: 5px solid #152b2b;
	margin: 20px;
	background-color: #38703c;

}

#nextFigureField {
	width: 200px;
	height: 200px;
	border: 2px solid #152b2b;
	margin: 20px;
	background-color: #38703c;
}

body {
  font-family: "Times New Roman", serif;
  font-size: 10px;
}

input[type = "button"]{
	font-size: 35px;
	font-family: "Times New Roman", serif;
}

input[type = "text"]{
	font-size: 30px;
	font-family: "Times New Roman", serif;
}


input[type=text] {
    border: 2px solid  #62bdc3;
    border-radius: 2px;
	padding: 15px 32px;
	background-color: #e3eaee;
	box-sizing: border-box;
}
